.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  background-color: var(--black);
  border-bottom: 2px solid var(--grey);
  z-index: 1000;
  transition: all 0.3s ease;
}

.header h1 {
  font-size: 2.7rem;
  margin: 0rem;
  font-weight: 600;
  color: var(--white);
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.link {
  font-size: 1.2rem;
  color: var(--grey);
  font-weight: 600;
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.link:hover {
  color: var(--white);
  border-bottom: 2px solid var(--blue);
}

.drawer-component {
  display: none;
}

@media only screen and (max-width: 800px) {
  .links {
    display: none;
  }

  .drawer-component {
    display: block;
  }

  .drawer-component .MuiIconButton-root {
    padding: 12px;
  }

  .drawer-component .MuiSvgIcon-root {
    font-size: 2rem !important;
    color: var(--white) !important;
  }

  .header {
    padding: 0.5rem 1.5rem;
  }

  .drawer-div {
    width: 50vw;
    min-width: 250px;
    background-color: var(--black);
    height: 100vh;
    padding: 2rem 1.5rem;
    border-left: 2px solid var(--grey);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .drawer-div .link {
    font-size: 1.1rem;
    color: var(--grey);
    font-weight: 600;
    cursor: pointer;
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--grey);
    text-decoration: none;
    transition: all 0.3s;
    text-align: left;
  }

  .drawer-div .link:hover {
    color: #f18500;
    border-bottom: 1px solid #f18500;
  }

  .drawer-div .MuiSwitch-root {
    margin-top: 1rem;
    transform: scale(1.2);
  }

  .drawer-div .MuiSwitch-track {
    width: 50px !important;
    height: 24px !important;
  }

  .drawer-div .MuiSwitch-thumb {
    width: 20px !important;
    height: 20px !important;
  }
}
