.main-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 3rem;
}

.info-landing {
  margin-top: 2rem;
}

.heading1,
.heading2 {
  margin: 0;
}

.heading1 {
  font-size: 6rem;
  margin-bottom: -0.5em; 
  font-weight: 600;
}

/* Light mode specific color for "Track Crypto" heading */
[data-theme="light"] .heading1 {
  color: #fccf00;
  text-shadow: 1px 1px 0px black, 0 0 8px #fccf00;
}

.heading2 {
  font-size: 5.8rem;
  margin-left: 0.1em;
  margin-bottom: 0.1em;
}

.heading1:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #f18400;
  color: var(--black);
  transition: all 0.3s;
}

/* Light mode specific hover effect for "Track Crypto" heading */
[data-theme="light"] .heading1:hover {
  -webkit-text-stroke-color: #ff0000;
}

.heading2 {
  color: #ff0000;
  text-shadow: 0 0 5px #bf0000;;
  font-weight: 800;
}

/* Light mode specific color for "Real Time" heading */
[data-theme="light"] .heading2 {
  color: #5c8cec;
  text-shadow: 1px 0px 0px black, 0 0 8px #5c8cec;
}

.info-text {
  color: whitesmoke;
  text-shadow: 1px 0 5px grey;
  font-weight: 300;
  
}

/* Light mode specific color for info text */
[data-theme="light"] .info-text {
  color: black;
}

.btn-flex {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.gradient-div {
  position: relative;
  width: 50%;
  margin-left: auto;
}

.gradient {
  position: absolute;
  right: 0px;
  top: 80px;
  width: 250px;
}
.dashboard-logo {
  position: absolute;
  left: 35%;
  width: 445px;
  top: -80px;
  transform: translate(-50%, -76%) scaleX(1);
}

/* Glow effect for dark mode only */
[data-theme="dark"] .dashboard-logo {
  filter: drop-shadow(0 0 9px rgba(255, 0, 0, 0.5));
}

@media only screen and (max-width: 1350px) {
  .heading1,
  .heading2 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1050px) {
  .heading1,
  .heading2 {
    font-size: 4rem;
  }

  .gradient {
    right: 0px;
    top: 60px;
    width: 200px;
  }
  .iphone {
    right: 0px;
    width: 250px;
  }
}

@media only screen and (max-width: 800px) {
  .heading1,
  .heading2 {
    font-size: 2rem;
  }
  .main-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading1,
  .heading2,
  .info-text {
    text-align: center;
  }

  .info-text {
    font-size: 0.8rem;
  }

  .btn-flex {
    justify-content: center;
    width: 100%;
  }

  .gradient-div {
    margin-top: 3rem;
      margin-bottom: 0.5rem; /* Reduce space below info-landing */
  }
}
@media only screen and (max-width: 800px) {
  .gradient,
  .iphone {
    left: 0px;
  }

  .iphone {
    left: -30px;
  }
}

/* 
clamp(minFontSize, ratio, maxFontSize)
  formula to calculate the ratio
  (max-size/design width) * 100
  example: (70/1440)*100 */
