.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: auto;
  background: var(--darkgrey);
  border-top: 2px solid var(--darkgrey);
  transition: all 0.3s ease;
}

.footer:hover {
  border-color: var(--green);
  transition: all 0.3s;
}


.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social-link {
  color: var(--grey);
  font-size: 2rem !important;
  transition: all 0.3s ease-in-out !important;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  color: var(--white);
  background: var(--black);
  transform: scale(1.1);
}


@media only screen and (max-width: 800px) {
  .footer {
    margin: 1.5rem 0.5rem;
    margin-bottom: 6rem;
  }

  .footer h2 {
    font-size: 1rem;
  }

  .social-links {
    gap: 0.5rem;
  }
  .social-link {
    font-size: 1rem !important;
  }
}
